# üéÆüïπÔ∏èü§ñüëΩ_**Video Game Industry Datamart Analysis**_üëΩü§ñüïπÔ∏èüéÆ

This project focuses on the Video Game industry and the different components owing to it's growth and development between 1980 and 2008. It's purpose is to allow for predictive analysis to determine if the market is healthy and lucrative enough to facilitate investment for capital gains. It will also allow for determining the best Video Game Publisher Companies to invest in by analysing the following components:

- Video Game Titles
    
- Release Year
    
- Genre
    
- Gaming Platform
    
- Publisher Company
    
- North America Unit Sales
    
- Europe Unit Sales
    
- Japan Unit Sales
    
- Unit Sales from Other Regions Worldwide
    

üóíÔ∏è The dataset used for this project was received from [Kaggle](https:\www.kaggle.com\datasets\ulrikthygepedersen\video-games-sales).

üóíÔ∏è This data mart was created based on the principles of Star Schema Design as outlined by [Ralph Kimball](https:\www.kimballgroup.com\data-warehouse-business-intelligence-resources\kimball-techniques\dimensional-modeling-techniques\).

## ü§î<u>**Questions Addressed with this Data Mart**</u>ü§î

The following questions represent the key points to be addressed with this Data Mart:

1\. Is the Global Video Game Market viable/profitable for capital gains investment?

2\. Which market (by Region) is the most lucrative for investment based on sales?

3\. Which companies are the highest performing and therefore best to invest into?

- By answering this question, the following key points will be addressed to curate a detailed response as to why the chosen companies are highly recommended for investing into:
    
    - Which are the Top Performing Publisher Companies?
        
    - What are the Top Performing Gaming Platforms?
        
    - Which is the Top Performing Game Franchise?

## üï∏Ô∏è<u>**Entity-Relationship Diagram (ERD)**</u>üï∏Ô∏è

The following Entity-Relationship Diagram (ERD) shows a visual representation of the data and established relationships between relevant dimension and fact tables within the database of the Data Mart:

insert ERD here:¬†!\[Local Image\](./images/sample.png)

<span style="color: var(--vscode-foreground);"><br></span>

## üï∑Ô∏è<u>**Structure and SQL Code Outline for Developing Data Definition Language (DDL) Dimension & Fact Tables**</u>**üï∑Ô∏è**

The following represents the SQL code outline for genertating the necessary Data Definition Language (DDL) dimension and fact tables to give form and structure to the database necessary for the Data Mart. These are inherently a series of SQL statements and instructions utilized to generate dimention and fact tables for the database; the application utilized was Microsoft SQL Server Management Studio (SSMS):

/\*\*\*\*\*\*\*\*\* GLOBAL VIDEO GAME SALES DDL CREATION \*\*\*\*\*\*\*\*\*\*/

  

/\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*/

/\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*¬† Create Database¬† \*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*/

/\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*/

  

IF NOT EXISTS (SELECT name FROM master.dbo.sysdatabases WHERE name = N'GlobalVideoGameSales')

BEGIN

¬† ¬† CREATE DATABASE GlobalVideoGameSales;

END

GO

  

USE GlobalVideoGameSales;

GO

  

/\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*/

/\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*¬† ¬† Schema DDL¬† ¬† ¬† ¬†\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*/

/\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*/

  

IF NOT EXISTS (SELECT \* FROM sys.schemas WHERE name = 'stg' )¬†

BEGIN

¬† ¬† EXEC sp\_executesql N'CREATE SCHEMA stg AUTHORIZATION dbo;'

END

  

IF NOT EXISTS (SELECT \* FROM sys.schemas WHERE name = 'dim' )¬†

BEGIN

¬† ¬† EXEC sp\_executesql N'CREATE SCHEMA dim AUTHORIZATION dbo;'

END

  

IF NOT EXISTS (SELECT \* FROM sys.schemas WHERE name = 'f' )¬†

BEGIN

¬† ¬† EXEC sp\_executesql N'CREATE SCHEMA f AUTHORIZATION dbo;'

END

  

/\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*/

/\*\*\*\*\*\*\*\*\*\*\*\*¬† Create stg.ALL\_VG\_Sales Table¬† \*\*\*\*\*\*\*\*\*\*\*\*/

/\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*/

  

IF NOT EXISTS (SELECT \* FROM INFORMATION\_SCHEMA.TABLES WHERE TABLE\_SCHEMA = 'stg' AND TABLE\_NAME = 'ALL\_VG\_Sales')

BEGIN

¬† ¬† CREATE TABLE stg.ALL\_VG\_Sales (

¬† ¬† ¬† ¬† ID INT NOT NULL,

¬† ¬† ¬† ¬† Sales\_Rank INT NOT NULL,

¬† ¬† ¬† ¬† \[Video Game Title\] NVARCHAR(200) NOT NULL,

¬† ¬† ¬† ¬† Release\_Year INT NOT NULL,

¬† ¬† ¬† ¬† Genre NVARCHAR(15) NULL,

¬† ¬† ¬† ¬† \[Publisher Company\] NVARCHAR(100) NULL,

¬† ¬† ¬† ¬† \[Gaming Platform\] NVARCHAR(15) NULL,

¬† ¬† ¬† ¬† NorthAmerica\_Sales INT NULL,

¬† ¬† ¬† ¬† Europe\_Sales INT NULL,

¬† ¬† ¬† ¬† Japan\_Sales INT NULL,

¬† ¬† ¬† ¬† OtherRegions\_Sales INT NULL,

¬† ¬† ¬† ¬† GlobalSales INT NULL

¬† ¬† );

END

  

/\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*/

/\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*¬† Create Sequences¬† ¬†\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*/

/\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*/

  

IF NOT EXISTS (SELECT \* FROM sys.sequences WHERE name = 'PublisherID\_Seq')

BEGIN

¬† ¬† CREATE SEQUENCE dbo.PublisherID\_Seq

¬† ¬† AS INT

¬† ¬† START WITH 1

¬† ¬† INCREMENT BY 1;

END

  

IF NOT EXISTS (SELECT \* FROM sys.sequences WHERE name = 'PlatformID\_Seq')

BEGIN

¬† ¬† CREATE SEQUENCE dbo.PlatformID\_Seq

¬† ¬† AS INT

¬† ¬† START WITH 1

¬† ¬† INCREMENT BY 1;

END

  

IF NOT EXISTS (SELECT \* FROM sys.sequences WHERE name = 'GenreID\_Seq')

BEGIN

¬† ¬† CREATE SEQUENCE dbo.GenreID\_Seq

¬† ¬† AS INT

¬† ¬† START WITH 1

¬† ¬† INCREMENT BY 1;

END

  

/\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*/

/\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*¬† GlobalSales DIM DDL¬† \*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*/

/\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*/

  

IF NOT EXISTS (SELECT \* FROM INFORMATION\_SCHEMA.TABLES WHERE TABLE\_SCHEMA = 'dim' AND TABLE\_NAME = 'GlobalSales')

BEGIN

¬† ¬† CREATE TABLE dim.GlobalSales(

¬† ¬† ¬† ¬† RegionSalesID INT NOT NULL PRIMARY KEY,

¬† ¬† ¬† ¬† Release\_Year INT NOT NULL,

¬† ¬† ¬† ¬† NorthAmerica\_Sales INT NULL,

¬† ¬† ¬† ¬† Europe\_Sales INT NULL,

¬† ¬† ¬† ¬† Japan\_Sales INT NULL,

¬† ¬† ¬† ¬† OtherRegions\_Sales INT NULL,

¬† ¬† ¬† ¬† GlobalSales INT NULL

¬† ¬† );

END

  

/\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*/

/\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*¬† VideoGameUnits DIM DDL¬† \*\*\*\*\*\*\*\*\*\*\*\*\*/

/\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*/

  

IF NOT EXISTS (SELECT \* FROM INFORMATION\_SCHEMA.TABLES WHERE TABLE\_SCHEMA = 'dim' AND TABLE\_NAME = 'VideoGameUnits')

BEGIN

¬† ¬† CREATE TABLE dim.VideoGameUnits(

¬† ¬† ¬† ¬† GameID INT NOT NULL UNIQUE,

¬† ¬† ¬† ¬† Sales\_Rank INT NOT NULL PRIMARY KEY,

¬† ¬† ¬† ¬† Video\_Game\_Title NVARCHAR(200) NOT NULL,

¬† ¬† ¬† ¬† Release\_Year INT NOT NULL,

¬† ¬† ¬† ¬† Genre NVARCHAR(15) NULL,

¬† ¬† ¬† ¬† Publisher\_Company NVARCHAR(100) NULL,

¬† ¬† ¬† ¬† Gaming\_Platform NVARCHAR(15) NULL

¬† ¬† );

END

  

/\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*/

/\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*¬† PublisherCompanies DIM DDL¬† \*\*\*\*\*\*\*\*\*/

/\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*/

  

IF NOT EXISTS (SELECT \* FROM INFORMATION\_SCHEMA.TABLES WHERE TABLE\_SCHEMA = 'dim' AND TABLE\_NAME = 'PublisherCompanies')

BEGIN

¬† ¬† CREATE TABLE dim.PublisherCompanies(

¬† ¬† ¬† ¬† PublisherID INT NULL,

¬† ¬† ¬† ¬† Publisher\_Company NVARCHAR(100) NOT NULL PRIMARY KEY

¬† ¬† );

END

  

/\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*/

/\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*¬† GamePlatform DIM DDL¬† \*\*\*\*\*\*\*\*\*\*\*\*\*\*\*/

/\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*/

  

IF NOT EXISTS (SELECT \* FROM INFORMATION\_SCHEMA.TABLES WHERE TABLE\_SCHEMA = 'dim' AND TABLE\_NAME = 'GamePlatform')

BEGIN

¬† ¬† CREATE TABLE dim.GamePlatform(

¬† ¬† ¬† ¬† PlatformID INT NULL,

¬† ¬† ¬† ¬† GamingPlatform NVARCHAR(15) NOT NULL PRIMARY KEY

¬† ¬† );

END

  

/\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*/

/\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*¬† GameGenre DIM DDL¬† \*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*/

/\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*/

  

IF NOT EXISTS (SELECT \* FROM INFORMATION\_SCHEMA.TABLES WHERE TABLE\_SCHEMA = 'dim' AND TABLE\_NAME = 'GameGenre')

BEGIN

¬† ¬† CREATE TABLE dim.GameGenre(

¬† ¬† ¬† ¬† GenreID INT NULL,

¬† ¬† ¬† ¬† VideoGameGenre NVARCHAR(15) NOT NULL PRIMARY KEY

¬† ¬† );

END

  

/\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*/

/\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*¬† Fact Table Creation¬† \*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*/

/\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*/

  

IF OBJECT\_ID('f.IndustrySales', 'U') IS NOT NULL

BEGIN¬†

¬† ¬† DROP TABLE f.IndustrySales;

END

  

CREATE TABLE f.IndustrySales(

¬† ¬† IndustrySalesID INT NOT NULL,

¬† ¬† Sales\_Rank INT NOT NULL,

¬† ¬† Video\_Game\_Title NVARCHAR(200) NOT NULL,

¬† ¬† Release\_Year INT NOT NULL,

¬† ¬† Genre NVARCHAR(15) NULL,

¬† ¬† Publisher\_Company NVARCHAR(100) NULL,

¬† ¬† Gaming\_Platform NVARCHAR(15) NULL,

¬† ¬† NorthAmerica\_Sales INT NULL,

¬† ¬† Europe\_Sales INT NULL,

¬† ¬† Japan\_Sales INT NULL,

¬† ¬† OtherRegions\_Sales INT NULL,

¬† ¬† GlobalSales INT NULL

);