# 🫡**Tip 1: How to use a query to connect to the required Database**

The following query simply uses a simple query to connect to the requisite database. This is a simple, yet arguably important step to ensure that your query is always run in the correct database and mitigate against common runtime errors related to not being in the correct database.

In [6]:
USE w3schools_tutor3;
GO

# **🤌Tip 2: How to create a simple SELECT query**

The following query simply uses the SELECT statement to display the Top 5 rows for all fields in the Supplier table from the w3schools database:

In [5]:
USE w3schools_tutor3;
GO

SELECT Top 5 *
FROM Suppliers
;

SupplierID,SupplierName,ContactName,Address,City,PostalCode,Country,Phone
1,Exotic Liquid,Charlotte Cooper,49 Gilbert St.,Londona,EC1 4SD,UK,(171) 555-2222
2,New Orleans Cajun Delights,Shelley Burke,P.O. Box 78934,New Orleans,70117,USA,(100) 555-4822
3,Grandma Kelly's Homestead,Regina Murphy,707 Oxford Rd.,Ann Arbor,48104,USA,(313) 555-5735
4,Tokyo Traders,Yoshi Nagase,9-8 Sekimai Musashino-shi,Tokyo,100,Japan,(03) 3555-5011
5,Cooperativa de Quesos 'Las Cabras',Antonio del Valle Saavedra,Calle del Rosal 4,Oviedo,33007,Spain,(98) 598 76 54

# **🥸Tip 3: How to use Aliases**

The following query uses secondary names to define the output field names; note that you do not always have to put the secondary names in quotations, however, it is best practice and even recommended to do so to avoid potential errors, especially for aliases that utilize "reserved words/commands" (such as Min/Max) and if there is a space in the name. Aliases are useful for not only renaming field names, but to simplify your code for legiblity (as in the case of giving aliases to referenced databases, and tables).

In [8]:
USE w3schools_tutor3;
GO

SELECT Top 5 ProductID as PId
            ,ProductName as 'PName'
            ,SupplierID as 'SupId'
            ,CategoryID as 'CatId'
            ,Unit
            ,Price
FROM dbo.Products prod
;

PId,PName,SupId,CatId,Unit,Price
1,Chais,1,1,NULL,18.00
2,Chang,1,1,NULL,19.00
3,Aniseed Syrup,1,2,NULL,10.00
4,Chef Anton's Cajun Seasoning,2,2,NULL,22.00
5,Chef Anton's Gumbo Mix,2,2,NULL,21.35

# **🤓Tip 4: How to use Agrregate Functions (Average, Sum, Minimum, and Maximum Values)**

The following query uses the AVG, SUM, MIN, and MAX aggregate functions to determine the Average, Sum, Minimum and Maximum values for the "Price" field from the "Products" table:

In [5]:
USE w3schools_tutor3;
GO

SELECT AVG(Price) as 'AVG_Price'
      ,SUM(Price) as 'Total_Price'
      ,MIN(Price) as 'Lowest_Price'
      ,MAX(Price) as 'Highest_Price'
FROM Products Prod
;

AVG_Price,Total_Price,Lowest_Price,Highest_Price
28.8663,2222.71,2.50,263.50

# **🤷‍♂️Tip 5: How to use the WHERE clause**

The following query uses the WHERE clause to filter specific records from the "Products" table that satisfy specific conditions:

In [9]:
USE w3schools_tutor3;
GO

SELECT Top 5 ProductName as 'PName'
            ,SupplierID as 'SupId'
            ,CategoryID as 'CatId'
            ,Price
FROM dbo.Products prod
WHERE Price >= 10
;

PName,SupId,CatId,Price
Chais,1,1,18.00
Chang,1,1,19.00
Aniseed Syrup,1,2,10.00
Chef Anton's Cajun Seasoning,2,2,22.00
Chef Anton's Gumbo Mix,2,2,21.35