# 🫡**Tip 1: How to use a query to connect to the required Database**

The following query simply uses a simple query to connect to the requisite database. This is a simple, yet arguably important step to ensure that your query is always run in the correct database and mitigate against common runtime errors related to not being in the correct database.

In [ ]:
/*
-- Code structure:
____________________

USE [database_name];
GO
*/

In [6]:
-- Example:
USE w3schools_tutor3;
GO

# **🤌Tip 2: How to create a simple SELECT query**

The following query simply uses the SELECT statement to display the Top 5 rows for all fields in the Supplier table from the w3schools database:

In [ ]:
/*
Code structure:
___________________

USE [database_name];
GO

SELECT [column_name]
FROM [table_name]
;
*/

In [5]:
-- Example:
USE w3schools_tutor3;
GO

SELECT Top 5 *
FROM Suppliers
;

SupplierID,SupplierName,ContactName,Address,City,PostalCode,Country,Phone
1,Exotic Liquid,Charlotte Cooper,49 Gilbert St.,Londona,EC1 4SD,UK,(171) 555-2222
2,New Orleans Cajun Delights,Shelley Burke,P.O. Box 78934,New Orleans,70117,USA,(100) 555-4822
3,Grandma Kelly's Homestead,Regina Murphy,707 Oxford Rd.,Ann Arbor,48104,USA,(313) 555-5735
4,Tokyo Traders,Yoshi Nagase,9-8 Sekimai Musashino-shi,Tokyo,100,Japan,(03) 3555-5011
5,Cooperativa de Quesos 'Las Cabras',Antonio del Valle Saavedra,Calle del Rosal 4,Oviedo,33007,Spain,(98) 598 76 54

# **🥸Tip 3: How to use Aliases**

The following query uses secondary names to define the output field names; note that you do not always have to put the secondary names in quotations, however, it is best practice and even recommended to do so to avoid potential errors, especially for aliases that utilize "reserved words/commands" (such as Min/Max) and if there is a space in the name. Aliases are useful for not only renaming field names, but to simplify your code for legiblity (as in the case of giving aliases to referenced databases, and tables).

In [ ]:
/*
Code Structure:
_____________________

USE [Database_name];
GO

SELECT [column_name] as 'alias_name'
FROM [table_name]
;
*/

In [8]:
-- Example:
USE w3schools_tutor3;
GO

SELECT Top 5 ProductID as PId
            ,ProductName as 'PName'
            ,SupplierID as 'SupId'
            ,CategoryID as 'CatId'
            ,Unit
            ,Price
FROM dbo.Products prod
;

PId,PName,SupId,CatId,Unit,Price
1,Chais,1,1,NULL,18.00
2,Chang,1,1,NULL,19.00
3,Aniseed Syrup,1,2,NULL,10.00
4,Chef Anton's Cajun Seasoning,2,2,NULL,22.00
5,Chef Anton's Gumbo Mix,2,2,NULL,21.35

# **🤓Tip 4: How to use Agrregate Functions (Average, Sum, Minimum, and Maximum Values)**

The following query uses the AVG, SUM, MIN, and MAX aggregate functions to determine the Average, Sum, Minimum and Maximum values for the "Price" field from the "Products" table:

In [ ]:
/*
Code Structure:
_____________________

USE [database_name];
GO

SELECT AGGREGATE FUNCTION([column_name])
FROM [table_name]
;
*/

In [5]:
-- Example:
USE w3schools_tutor3;
GO

SELECT AVG(Price) as 'AVG_Price'
      ,SUM(Price) as 'Total_Price'
      ,MIN(Price) as 'Lowest_Price'
      ,MAX(Price) as 'Highest_Price'
FROM Products Prod
;

AVG_Price,Total_Price,Lowest_Price,Highest_Price
28.8663,2222.71,2.50,263.50

# **🤷‍♂️Tip 5: How to use the WHERE clause**

The following query uses the WHERE clause to filter specific records from the "Products" table that satisfy specific conditions:

In [ ]:
/*
Code Structure:
_____________________

USE [database_name];
GO

SELECT [column_name]
FROM [table_name]
WHERE [column_name] condition with operator
;
*/

-- Operators: =, <, >, >=, <=, <>, BETWEEN, LIKE, IN

In [9]:
-- Example:
USE w3schools_tutor3;
GO

SELECT Top 5 ProductName as 'PName'
            ,SupplierID as 'SupId'
            ,CategoryID as 'CatId'
            ,Price
FROM dbo.Products prod
WHERE Price >= 10
;

PName,SupId,CatId,Price
Chais,1,1,18.00
Chang,1,1,19.00
Aniseed Syrup,1,2,10.00
Chef Anton's Cajun Seasoning,2,2,22.00
Chef Anton's Gumbo Mix,2,2,21.35

# **🤷‍♂️Tip 6: How to use the Group By statement**

The following query uses the Group By clause to filter specific records from the "DimProduct" table that satisfy specific conditions:

In [ ]:
/*
Code Structure:
____________________

SELECT [column_name]
FROM [table_name]
WHERE [condition]
GROUP BY [column_name]
;

-- NOTE: Group By statement is usually used with an aggregate function (all columns not listed in aggregate function must be listed back in aggregate statement).

In [21]:
-- Example:
USE AdventureWorksDW2022;
GO

SELECT Top 5 EnglishProductName as 'product_name'
                      ,Style
                      ,AVG(ListPrice) as 'Avg_Price'
                      ,StandardCost as 'std_cost'
FROM dbo.DimProduct
WHERE StandardCost > 6
GROUP BY EnglishProductName
        ,Class
        ,Style
        ,StandardCost
;

product_name,Style,Avg_Price,std_cost
All-Purpose Bike Stand,NULL,159.00,59.466
AWC Logo Cap,U,8.99,6.9223
Cable Lock,NULL,25.00,10.3125
Chain,NULL,20.24,8.9866
"Classic Vest, L",U,63.50,23.749

# **🤷‍♂️Tip 7: How to use the Order By statement**

The following query uses the Order By clause to filter specific records from the "DimProduct" table that satisfy specific conditions:

In [ ]:
/*
Code Structure:
_____________________
SELECT [column1], [column2], etc...
FROM [table_name]
WHERE [condition]
GROUP BY [column_name]
ORDER BY [column1], [column2], ... ASC|DESC
;

-- NOTE: The ORDER BY statement sorts in ascending order by default. To sort the records in descending order, use the DESC keyword.

In [22]:
-- Example:
USE AdventureWorksDW2022;
GO

SELECT Top 5 EnglishProductName as 'product_name'
                      ,Style
                      ,AVG(ListPrice) as 'Avg_Price'
                      ,StandardCost as 'std_cost'
FROM dbo.DimProduct
WHERE StandardCost > 6
GROUP BY EnglishProductName
        ,Class
        ,Style
        ,StandardCost
ORDER BY product_name DESC
;

product_name,Style,Avg_Price,std_cost
"Women's Tights, S",W,74.99,30.9334
"Women's Tights, M",W,74.99,30.9334
"Women's Tights, L",W,74.99,30.9334
"Women's Mountain Shorts, S",W,69.99,26.1763
"Women's Mountain Shorts, M",W,69.99,26.1763

# **🤷‍♂️Tip 8: How to use Wildcards**

\- A wildcard character is used to substitute one or more characters in a string.

\- Wildcard characters are used with the LIKE operator; the LIKE operator is used in a WHERE clause to search for a specified pattern in a column.

The following query uses Wildacrds to filter specific records from the "DimProduct" table that satisfy specific conditions:

In [ ]:
/*
Code Structure:
____________________

SELECT [column_name]
FROM [table_name]
WHERE [column_name] LIKE 'a%'
;

-- NOTE: The following are exaples of wildcard combinations:

WHERE CustomerName LIKE 'a%'	Finds any values that starts with "a"
WHERE CustomerName LIKE '%a'	Finds any values that ends with "a"
WHERE CustomerName LIKE '%or%'	Finds any values that have "or" in any position
WHERE CustomerName LIKE '_r%'	Finds any values that have "r" in the second position
WHERE CustomerName LIKE 'a_%_%'	Finds any values that starts with "a" and are at least 3 characters in length
WHERE ContactName LIKE 'a%o'	Finds any values that starts with "a" and ends with "o"

In [29]:
-- Example:
USE AdventureWorksDW2022;
GO

SELECT Top 5 EnglishProductName as 'product_name'
                      ,Style
                      ,ListPrice
                      ,StandardCost as 'std_cost'
FROM dbo.DimProduct
WHERE EnglishProductName LIKE 'd%e'
;

product_name,Style,ListPrice,std_cost
Down Tube,NULL,NULL,NULL

# **🤷‍♂️Tip 9: How to use the Having statement**

The following query uses the Order By clause to filter specific records from the "DimProduct" table that satisfy specific conditions