# ü´°**Tip 1: How to use a query to connect to the required Database**

The following query simply uses a simple query to connect to the requisite database. This is a simple, yet arguably important step to ensure that your query is always run in the correct database and mitigate against common runtime errors related to not being in the correct database.

In [ ]:
/*
-- Code structure:
____________________

USE [database_name];
GO
*/

In [6]:
-- Example:
USE w3schools_tutor3;
GO

# **ü§åTip 2: How to create a simple SELECT query**

The following query simply uses the SELECT statement to display the Top 5 rows for all fields in the Supplier table from the w3schools database:

In [ ]:
/*
Code structure:
___________________

USE [database_name];
GO

SELECT [column_name]
FROM [table_name]
;
*/

In [5]:
-- Example:
USE w3schools_tutor3;
GO

SELECT Top 5 *
FROM Suppliers
;

SupplierID,SupplierName,ContactName,Address,City,PostalCode,Country,Phone
1,Exotic Liquid,Charlotte Cooper,49 Gilbert St.,Londona,EC1 4SD,UK,(171) 555-2222
2,New Orleans Cajun Delights,Shelley Burke,P.O. Box 78934,New Orleans,70117,USA,(100) 555-4822
3,Grandma Kelly's Homestead,Regina Murphy,707 Oxford Rd.,Ann Arbor,48104,USA,(313) 555-5735
4,Tokyo Traders,Yoshi Nagase,9-8 Sekimai Musashino-shi,Tokyo,100,Japan,(03) 3555-5011
5,Cooperativa de Quesos 'Las Cabras',Antonio del Valle Saavedra,Calle del Rosal 4,Oviedo,33007,Spain,(98) 598 76 54

# **ü•∏Tip 3: How to use Aliases**

The following query uses secondary names to define the output field names; note that you do not always have to put the secondary names in quotations, however, it is best practice and even recommended to do so to avoid potential errors, especially for aliases that utilize "reserved words/commands" (such as Min/Max) and if there is a space in the name. Aliases are useful for not only renaming field names, but to simplify your code for legiblity (as in the case of giving aliases to referenced databases, and tables).

In [ ]:
/*
Code Structure:
_____________________

USE [Database_name];
GO

SELECT [column_name] as 'alias_name'
FROM [table_name]
;
*/

In [8]:
-- Example:
USE w3schools_tutor3;
GO

SELECT Top 5 ProductID as PId
            ,ProductName as 'PName'
            ,SupplierID as 'SupId'
            ,CategoryID as 'CatId'
            ,Unit
            ,Price
FROM dbo.Products prod
;

PId,PName,SupId,CatId,Unit,Price
1,Chais,1,1,NULL,18.00
2,Chang,1,1,NULL,19.00
3,Aniseed Syrup,1,2,NULL,10.00
4,Chef Anton's Cajun Seasoning,2,2,NULL,22.00
5,Chef Anton's Gumbo Mix,2,2,NULL,21.35

# **ü§ìTip 4: How to use Agrregate Functions (Average, Sum, Minimum, and Maximum Values)**

The following query uses the AVG, SUM, MIN, and MAX aggregate functions to determine the Average, Sum, Minimum and Maximum values for the "Price" field from the "Products" table:

In [ ]:
/*
Code Structure:
_____________________

USE [database_name];
GO

SELECT AGGREGATE FUNCTION([column_name])
FROM [table_name]
;
*/

In [5]:
-- Example:
USE w3schools_tutor3;
GO

SELECT AVG(Price) as 'AVG_Price'
      ,SUM(Price) as 'Total_Price'
      ,MIN(Price) as 'Lowest_Price'
      ,MAX(Price) as 'Highest_Price'
FROM Products Prod
;

AVG_Price,Total_Price,Lowest_Price,Highest_Price
28.8663,2222.71,2.50,263.50

# **ü§∑‚Äç‚ôÇÔ∏èTip 5: How to use the WHERE clause**

The following query uses the WHERE clause to filter specific records from the "Products" table that satisfy specific conditions:

In [ ]:
/*
Code Structure:
_____________________

USE [database_name];
GO

SELECT [column_name]
FROM [table_name]
WHERE [column_name] condition with operator
;
*/

-- Operators: =, <, >, >=, <=, <>, BETWEEN, LIKE, IN

In [9]:
-- Example:
USE w3schools_tutor3;
GO

SELECT Top 5 ProductName as 'PName'
            ,SupplierID as 'SupId'
            ,CategoryID as 'CatId'
            ,Price
FROM dbo.Products prod
WHERE Price >= 10
;

PName,SupId,CatId,Price
Chais,1,1,18.00
Chang,1,1,19.00
Aniseed Syrup,1,2,10.00
Chef Anton's Cajun Seasoning,2,2,22.00
Chef Anton's Gumbo Mix,2,2,21.35

# **ü§∑‚Äç‚ôÇÔ∏èTip 6: How to use the Group By statement**

The following query uses the Group By clause to filter specific records from the "DimProduct" table that satisfy specific conditions:

In [ ]:
/*
Code Structure:
____________________

SELECT [column_name]
FROM [table_name]
WHERE [condition]
GROUP BY [column_name]
;

-- NOTE: Group By statement is usually used with an aggregate function (all columns not listed in aggregate function must be listed back in aggregate statement).

In [21]:
-- Example:
USE AdventureWorksDW2022;
GO

SELECT Top 5 EnglishProductName as 'product_name'
                      ,Style
                      ,AVG(ListPrice) as 'Avg_Price'
                      ,StandardCost as 'std_cost'
FROM dbo.DimProduct
WHERE StandardCost > 6
GROUP BY EnglishProductName
        ,Class
        ,Style
        ,StandardCost
;

product_name,Style,Avg_Price,std_cost
All-Purpose Bike Stand,NULL,159.00,59.466
AWC Logo Cap,U,8.99,6.9223
Cable Lock,NULL,25.00,10.3125
Chain,NULL,20.24,8.9866
"Classic Vest, L",U,63.50,23.749

# **ü§∑‚Äç‚ôÇÔ∏èTip 7: How to use the Order By statement**

The following query uses the Order By clause to filter specific records from the "DimProduct" table that satisfy specific conditions:

In [ ]:
/*
Code Structure:
_____________________
SELECT [column1], [column2], etc...
FROM [table_name]
WHERE [condition]
GROUP BY [column_name]
ORDER BY [column1], [column2], ... ASC|DESC
;

-- NOTE: The ORDER BY statement sorts in ascending order by default. To sort the records in descending order, use the DESC keyword.

In [22]:
-- Example:
USE AdventureWorksDW2022;
GO

SELECT Top 5 EnglishProductName as 'product_name'
                      ,Style
                      ,AVG(ListPrice) as 'Avg_Price'
                      ,StandardCost as 'std_cost'
FROM dbo.DimProduct
WHERE StandardCost > 6
GROUP BY EnglishProductName
        ,Class
        ,Style
        ,StandardCost
ORDER BY product_name DESC
;

product_name,Style,Avg_Price,std_cost
"Women's Tights, S",W,74.99,30.9334
"Women's Tights, M",W,74.99,30.9334
"Women's Tights, L",W,74.99,30.9334
"Women's Mountain Shorts, S",W,69.99,26.1763
"Women's Mountain Shorts, M",W,69.99,26.1763

# **ü§∑‚Äç‚ôÇÔ∏èTip 8: How to use Wildcards**

\- A wildcard character is used to substitute one or more characters in a string.

\- Wildcard characters are used with the LIKE operator; the LIKE operator is used in a WHERE clause to search for a specified pattern in a column.

The following query uses Wildacrds to filter specific records from the "DimProduct" table that satisfy specific conditions:

In [ ]:
/*
Code Structure:
____________________

SELECT [column_name]
FROM [table_name]
WHERE [column_name] LIKE 'a%'
;

-- NOTE: The following are exaples of wildcard combinations:

WHERE CustomerName LIKE 'a%'	Finds any values that starts with "a"
WHERE CustomerName LIKE '%a'	Finds any values that ends with "a"
WHERE CustomerName LIKE '%or%'	Finds any values that have "or" in any position
WHERE CustomerName LIKE '_r%'	Finds any values that have "r" in the second position
WHERE CustomerName LIKE 'a_%_%'	Finds any values that starts with "a" and are at least 3 characters in length
WHERE ContactName LIKE 'a%o'	Finds any values that starts with "a" and ends with "o"

In [29]:
-- Example:
USE AdventureWorksDW2022;
GO

SELECT Top 5 EnglishProductName as 'product_name'
            ,Style
            ,ListPrice
            ,StandardCost as 'std_cost'
FROM dbo.DimProduct
WHERE EnglishProductName LIKE 'd%e'
;

product_name,Style,ListPrice,std_cost
Down Tube,NULL,NULL,NULL

# **ü§∑‚Äç‚ôÇÔ∏èTip 9: How to use the CONCAT Function**

\- The CONCAT function adds 2 or more functions/column values together to create a new single column value.

The following query uses the Order By clause to add/connect together specific records from the "Customers" table from the Northwind\_2023 database:

In [ ]:
/*
Code Structure:
____________________

SELECT CONCAT ([column_name], ' ', [column_name], ' ', [column_name]) as 'alias_name'
FROM [table_name]
;

In [11]:
-- Example:
USE Northwind_2023;
GO

SELECT Top 5 CustomerID
      ,CompanyName
      ,CONCAT(ContactTitle, ' ', ContactName) as 'contact_info'
      ,CONCAT(City, ' ', Region, ' ', Country) as 'location' 
FROM dbo.Customers
;

CustomerID,CompanyName,contact_info,location
ALFKI,Alfreds Futterkiste,Sales Representative Maria Anders,Berlin Germany
ANATR,Ana Trujillo Emparedados y helados,Owner Ana Trujillo,M√©xico D.F. Mexico
ANTON,Antonio Moreno Taquer√≠a,Owner Antonio Moreno,M√©xico D.F. Mexico
AROUT,Around the Horn,Sales Representative Thomas Hardy,London UK
BERGS,Berglunds snabbk√∂p,Order Administrator Christina Berglund,Lule√• Sweden

# **ü§∑‚Äç‚ôÇÔ∏èTip 10: How to use the Having clause**

\- The Having clause is usually used because additional filtering is required using an aggregate function and th WHERE function cannot be used with aggregate functions.

The following query uses the Having clause to filter specific records from the "Products" table from the Northwind\_2023 database:

In [ ]:
/*
Code Structure:
____________________

SELECT [column_name]
FROM [table_name]
WHERE [condition]
GROUP BY [column_name]
HAVING [condition]
ORDER BY [column_name]
;

In [12]:
-- Example:
USE Northwind_2023;
GO

SELECT Top 5 ProductID as 'prodID'
      ,ProductName
      ,AVG(UnitPrice)
      ,UnitsInStock
      ,UnitsOnOrder
FROM dbo.Products
WHERE UnitsInStock >= 5
GROUP BY ProductID
        ,ProductName
        ,UnitsInStock
        ,UnitsOnOrder
HAVING COUNT(UnitsOnOrder) < 15
ORDER BY ProductName DESC
;

prodID,ProductName,(No column name),UnitsInStock,UnitsOnOrder
47,Zaanse koeken,9.50,36,0
64,Wimmers gute Semmelkn√∂del,33.25,22,80
63,Vegie-spread,43.90,24,0
50,Valkoinen suklaa,16.25,65,0
7,Uncle Bob's Organic Dried Pears,30.00,15,0

# **ü§∑‚Äç‚ôÇÔ∏èTip 10: How to use the INNER JOIN function**

\- The INNER JOIN function selects records that match (common) between both tables.

\- You can also use INNER JOIN to join more than 2 tabes together.

The following query uses the INNER JOIN function to match records from the "Orders" & "OrderDetails" tables from the Northwind\_2023 database:

In [ ]:
/*
Code Structure:
____________________

SELECT [column_names]
FROM [table1_name]
INNER JOIN [table2_name] 
ON [table1_name].[column_name] = [table2_name].[column_name]
;
*/

In [25]:
-- Example:
USE Northwind_2023;
GO

SELECT Top 5 od.OrderID
            ,od.ShipName
            ,od.ShippedDate
            ,od.ShipCountry
            ,ord.UnitPrice
FROM dbo.Orders od
INNER JOIN OrderDetails ord 
on od.OrderID = ord.OrderID
GROUP BY od.OrderID
        ,od.ShipName
        ,od.ShippedDate
        ,od.ShipCountry
        ,ord.UnitPrice
ORDER BY od.ShipName DESC
;

OrderID,ShipName,ShippedDate,ShipCountry,UnitPrice
10374,Wolski Zajazd,2021-12-09 00:00:00.000,Poland,10.00
10374,Wolski Zajazd,2021-12-09 00:00:00.000,Poland,10.60
10611,Wolski Zajazd,2022-08-01 00:00:00.000,Poland,18.00
10611,Wolski Zajazd,2022-08-01 00:00:00.000,Poland,19.00
10611,Wolski Zajazd,2022-08-01 00:00:00.000,Poland,34.00

# **ü§∑‚Äç‚ôÇÔ∏èTip 11: How to use the LEFT & RIGHT JOIN function(s)**

\- The LEFT JOIN function selects records that match (common) between both tables \[table\_name1\] &¬†<span style="color: var(--vscode-foreground);">[table_name2]</span>¬†¬†<span style="color: var(--vscode-foreground);">and all records from the left table&nbsp;</span>¬†¬†<span style="color: var(--vscode-foreground);">[table_name1].</span>

_**<span style="color: var(--vscode-foreground);">- The same principle apples to the RIGHT JOIN function, except it will select all records from the right table&nbsp;</span>¬†<span style="color: var(--vscode-foreground);">[table_name2]&nbsp;</span>¬†<span style="color: var(--vscode-foreground);">instead.</span>**_

\- You can also join more than 2 tabes together.

The following query uses the INNER JOIN function to match records from the "Orders" & "OrderDetails" tables from the Northwind\_2023 database

In [ ]:
/*
Code Structure:
____________________

SELECT [column_names]
FROM [table1_name]
LEFT JOIN [table2_name] 
ON [table1_name].[column_name] = [table2_name].[column_name]
;
*/

In [26]:
-- Example:
USE Northwind_2023;
GO

SELECT Top 5 od.OrderID
            ,od.ShipName
            ,od.ShippedDate
            ,ord.UnitPrice
            ,ord.Quantity
            ,od.Freight
FROM dbo.Orders od
LEFT JOIN OrderDetails ord 
on od.OrderID = ord.OrderID
ORDER BY od.ShippedDate DESC
;

OrderID,ShipName,ShippedDate,UnitPrice,Quantity,Freight
11069,Tortuga Restaurante,2023-05-06 00:00:00.000,18.00,20,15.67
11063,Hungry Owl All-Night Grocers,2023-05-06 00:00:00.000,14.00,30,81.73
11063,Hungry Owl All-Night Grocers,2023-05-06 00:00:00.000,18.40,40,81.73
11063,Hungry Owl All-Night Grocers,2023-05-06 00:00:00.000,9.65,30,81.73
11067,Drachenblut Delikatessen,2023-05-06 00:00:00.000,9.65,9,7.98

# **ü§∑‚Äç‚ôÇÔ∏èTip 12: How to use the FULL OUTER JOIN function**

\- The FULL OUTTER JOIN (FULL JOIN) function selects/returns all records that match (common) in either of the two (2) left or right tables

\- You can also use FULL OUTTER JOIN (FULL JOIN)¬†to join more than 2 tabes together, however, this may return a very large result, potentially leading o performace issues.

The following query uses the INNER JOIN function to match records from the "Products" & "OrderDetails" tables from the Northwind\_2023 database:

In [ ]:
/*
Code Structure:
____________________

SELECT [column_names]
FROM [table1_name]
FULL OUTER JOIN [table2_name] 
ON [table1_name].[column_name] = [table2_name].[column_name]
;
*/

In [29]:
-- Example:
USE Northwind_2023;
GO

SELECT Top 5 prod.ProductID
            ,prod.ProductName
            ,ord.Quantity
            ,ord.UnitPrice
FROM dbo.Products prod
FULL OUTER JOIN OrderDetails ord 
on prod.ProductID = ord.ProductID
ORDER BY ord.Quantity DESC
;

ProductID,ProductName,Quantity,UnitPrice
39,Chartreuse verte,130,18.00
64,Wimmers gute Semmelkn√∂del,130,33.25
55,P√¢t√© chinois,120,19.20
55,P√¢t√© chinois,120,19.20
27,Schoggi Schokolade,120,43.90

# **ü§∑‚Äç‚ôÇÔ∏èTip 13: How to use the SELF JOIN function**

\- The SELF JOIN function is similar to the regular JOIN (INNER JOIN) function, excet that a table joins to itself to satisfy a specific condition through commonly using the WHERE clause and associated operators.

The following query uses the SELF JOIN function to return records from the "Customers" table from the Northwind\_2023 database:

In [ ]:
/*
Code Structure:
____________________

SELECT [column_name(s)]
FROM [table_name1] as 'alias_name1', [table_name2] as 'alias_name2'
WHERE [condition]
;

In [32]:
-- Example:
USE Northwind_2023;
GO

SELECT Top 5 cus1.ContactName as 'contact_1'
            ,cus2.ContactName as 'contact_2'
            ,cus1.Phone
            ,cus1.Country
FROM dbo.Customers cus1
    ,dbo.Customers cus2
WHERE cus1.CustomerID <> cus2.CustomerID
ORDER BY cus1.Phone DESC
;

contact_1,contact_2,Phone,Country
Pirkko Koskitalo,Maria Anders,981-443655,Finland
Pirkko Koskitalo,Ana Trujillo,981-443655,Finland
Pirkko Koskitalo,Antonio Moreno,981-443655,Finland
Pirkko Koskitalo,Thomas Hardy,981-443655,Finland
Pirkko Koskitalo,Christina Berglund,981-443655,Finland

# **ü§∑‚Äç‚ôÇÔ∏èTip 14: How to use the SELF JOIN function**

\- The SELF JOIN function is similar to the regular JOIN (INNER JOIN) function, excet that a table joins to itself to satisfy a specific condition through commonly using the WHERE clause and associated operators.

The following query uses the SELF JOIN function to return records from the "Customers" table from the Northwind\_2023 database: